<?xml version="1.0"?>
<configuration>
  <system.web>
    <customErrors mode="Off"/>
    <siteMap defaultProvider="XmlSiteMapProvider" enabled="true">
      <providers>
        <add name="XmlSiteMapProvider" type="System.Web.XmlSiteMapProvider" siteMapFile="ass1/Web.siteMap"/>
      </providers>
    </siteMap>
    <compilation debug="true"/>
    <pages theme="web"/>
  </system.web>
</configuration>